*{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body{
    overflow-x: hidden;
}
.category-dropdown li a{
    font-size: 16px;
    padding: 5px 2px;
    height: 50px;
}
.category-dropdown li{
    height: 50px;
    width:200px;
}
@media (min-width: 785px){
    .category-dropdown:before{
        content:"";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -8px;
        right: 120px;

                    }
}

.category-dropdown i{
    position: relative;
    top:10px;
    padding:0 5px;
}
.icon-fix span{
    position: relative;
    top:-5px;
}
.search-icon{
    background-color:rgba(0,0,0,0.1);
    color: #fff;
    font-size: 1em;

}
.search-icon:hover{
    background-color:rgba(0,0,0,0.2);
    color: #fff;

}
.navbar-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
.navbar-form input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
.navbar-form input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
.navbar-form input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}

#main-menu{
    overflow-x: hidden;
}
.navbar-main-menu{
    padding-left: 80px;
}
#main-menu .navbar-highlight a{
    color: #ffffff;
}
.navbar{
    background-color: #009688;
    border-bottom: 5px solid #00695C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color:#00897B;
    color: #ffffff;
}
@media (max-width: 782px){
    .navbar-main-menu{
        padding-left: 0px;
    }
    .navbar-nav .navbar-form .form-group{
        padding-left: 15px;
        display: inline-block;
        width: 80%;
    }
}

/* intro start*/
#intro .jumbotron{
    padding-top: 100px;
    position: relative;
    text-align: center;

}
.heading{
    margin-bottom: 50px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    padding: 10px;
}
.form-container{
    background-color: #f5f5f5;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* intro end */
.go-to-signinup p{
    font-size: 12px;
    text-align: left;
}
.signup-button{
    margin-bottom: 20px;
}
.facebook{
    background-color: #4267b2;
    margin-bottom: 10px;
}
.google{
    background-color: #d14836;
    margin-bottom: 10px;
}
#footer{
    margin-top: 50px;
    height: 300px;
    background-color: #424242;
    color: #fff;
}



