<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The big market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/messaging.css">
</head>
<body>

    <%- include('ejs/navbar') -%>

    <div class="jumbotron">
        <div class="container messaging-container">

            <div class="">
                <div class="row message-users">
                    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12 hidden-xs message-aside">
                       <header class="messages-header">
                           <div class="row">
                               <div class="col-sm-8  message-aside-title visible-md visible-lg">
                                   Messages
                               </div>
                               <div class="col-sm-4 col-xs-4 text-right">
                                   <i class="material-icons new-message-btn ">add_circle_outline</i>
                               </div>
                           </div>
                       </header>

                       <div class="row messages-headlines-container">
                            <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->
                             <div class="col-sm-12 message-headline">
                                <div class="col-lg-4 col-md-12 col-xs-12 avatar-container">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div><!-- message headline img -->

                                <div class="col-lg-8 visible-lg">
                                    <div class="row">
                                        <div class="col-sm-7 username-container">
                                            <h5><a href="">Username</a></h5>
                                        </div>
                                        <div class="col-sm-5 message-date-container text-right">
                                            <p><em>Sam</em></p>
                                        </div>
                                    </div>
                                    <div class="row part-of-msg">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                                    </div>
                                </div><!-- message headline title and last msg -->


                             </div><!-- message headline -->












                       </div>
                       <!-- messages-headlines-container -->

                    </div>
                    <!-- message users -->
                    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 messages-with-user-container">
                        <header>
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-xs-4">
                                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4 username">
                                    <h4>Username</h4>
                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-4 pull-right availability text-right">
                                    <p>Disponible<span class="available">&emsp;</span></p>
                                </div>
                            </div>
                        </header>
                        <div class="messages-container">
                            <div class="messages-with-user received">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 hidden-xs">
                                        <img src="../public/images/johndoe.jpg" alt="" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 message-container">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quas, aperiam. Dolorum deserunt, non animi, sit illo natus numquam! Voluptatibus error voluptatem necessitatibus facilis adipisci quae eligendi eveniet vero maxime!
                                        </p>
                                        <p class="message-date text-right"><em>07:52</em></p>
                                    </div>
                                </div>
                            </div><!-- messages with a user -->

                            <div class="messages-with-user sent">
                                <div class="row ">

                                    <div class="col-sm-8 col-sm-push-3 col-xs-12 message-container">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quas, aperiam. Dolorum deserunt, non animi, sit illo natus numquam! Voluptatibus error voluptatem necessitatibus facilis adipisci quae eligendi eveniet vero maxime!
                                        </p>
                                        <p class="message-date text-right"><em>07:52</em></p>
                                    </div>
                                </div>
                            </div><!-- messages with a user -->
                            <div class="messages-with-user sent">
                                <div class="row ">

                                    <div class="col-sm-8 col-sm-push-3 col-xs-12 message-container">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quas, aperiam. Dolorum deserunt, non animi, sit illo natus numquam! Voluptatibus error voluptatem necessitatibus facilis adipisci quae eligendi eveniet vero maxime!
                                        </p>
                                        <p class="message-date text-right"><em>07:52</em></p>
                                    </div>
                                </div>
                            </div><!-- messages with a user -->
                            <div class="messages-with-user sent">
                                <div class="row ">

                                    <div class="col-sm-8 col-sm-push-3 col-xs-12 message-container">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quas, aperiam. Dolorum deserunt, non animi, sit illo natus numquam! Voluptatibus error voluptatem necessitatibus facilis adipisci quae eligendi eveniet vero maxime!
                                        </p>
                                        <p class="message-date text-right"><em>07:52</em></p>
                                    </div>
                                </div>
                            </div><!-- messages with a user -->
                            <div class="messages-with-user received">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 hidden-xs">
                                        <img src="../public/images/johndoe.jpg" alt="" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 message-container">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quas, aperiam. Dolorum deserunt, non animi, sit illo natus numquam! Voluptatibus error voluptatem necessitatibus facilis adipisci quae eligendi eveniet vero maxime!
                                        </p>
                                        <p class="message-date text-right"><em>07:52</em></p>
                                    </div>
                                </div>
                            </div><!-- messages with a user -->
                            <div class="messages-with-user received">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 hidden-xs">
                                        <img src="../public/images/johndoe.jpg" alt="" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12 message-container">
                                        <p class="message">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quas, aperiam. Dolorum deserunt, non animi, sit illo natus numquam! Voluptatibus error voluptatem necessitatibus facilis adipisci quae eligendi eveniet vero maxime!
                                        </p>
                                        <p class="message-date text-right"><em>07:52</em></p>
                                    </div>
                                </div>
                            </div><!-- messages with a user -->
                        </div>
                        <footer class="message-footer">
                            <form>
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Type your message here...">
                              </div>
                              <button type="submit" class="btn btn-primary pull-right">Envoyer</button>
                            </form>
                        </footer>

                    </div>
                    <!-- messages with a specific user container -->
                </div>
            </div>
        </div>
    </div>















    <footer id="footer">

    </footer>







<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
