
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The big market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/stylesheets/shop.css">
</head>
<body>

<%- include('ejs/navbar') -%>

<section id="shop-header">
    <div class="container-fluid shop-overlay">

    </div><!-- shop overlay -->
    <div class="container-fluid shop-img-and-info">
        <div class="row">
            <div class="col-sm-2 col-sm-push-1 shop-img-container">

            </div><!-- shop img container -->
            <div class="col-sm-5 col-sm-push-1 shop-name-and-small-details">
                <div class="row">
                    <div class="col-xs-4">
                        <h5> shop.shopname </h5>

                    </div>
                    <div class="col-xs-2 ">
                        <div class="is-available"></div>
                    </div>
                </div><!-- shop name -->
                <div class="row">
                    <div class="col-xs-4 shop-category">
                        <h6><i class="material-icons">location_on</i> shop.shopCategory</h6>
                    </div><!-- shop category -->
                    <div class="col-xs-4 shop-address">
                        <h6><i class="material-icons">location_on</i> shop.shopAddress </h6>
                    </div><!-- shop address -->
                </div><!-- shop small details -->
            </div><!-- shop name and small details -->
        </div>
    </div> <!-- shop img and info -->
    <div class="shop-description">

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="shop-description"> shop.ShopDescription</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 contact-icons">
                            <div class="row">

                                <div class="col-xs-1 icon">
                                    <a href="shop.sociallinks.facebook">
                                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="col-xs-1 icon">
                                    <a href="shop.sociallinks.googleplus">
                                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                                    </a>


                                </div>
                                <div class="col-xs-1 icon">
                                    <a href=" shop.sociallinks.twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-5 text-right">

                    <div class="row shop-vis-pop-clients">
                        <div class="col-xs-4 shop-popularity">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <p><i class="material-icons">remove_red_eye</i> Visites</p>
                                </div>
                            </div>
                            <div class="row number">
                                <div class="col-xs-12">
                                    <p>5454</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 shop-popularity">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <p><i class="material-icons">public</i> Popularité</p>
                                </div>
                            </div>
                            <div class="row number">
                                <div class="col-xs-12">
                                    <p>54545</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 shop-popularity">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <p><i class="material-icons">thumb_up</i> Abonnés</p>
                                </div>
                            </div>
                            <div class="row number">
                                <div class="col-xs-12">
                                    <p>5454</p>
                                </div>
                            </div>
                        </div>

                    </div><!-- shop pop -->
                    <div class="row shop-contact">
                        <div class="col-xs-3">
                            <div class="btn btn-primary">Contacter</div>
                        </div>
                        <div class="col-xs-4 announcement">
                            <p><i class="material-icons announcement-icon">announcement</i> <a href="">Annonces</a></p>
                        </div>
                    </div><!-- shop contact -->
                </div>
            </div>
        </div>

    </div><!-- shop description -->
</section><!-- shop header -->
<section class="main-products product-to-sell">
    <div class="container-fluid category">
        <div class="row category-header">
            <div class="col-xs-6">
                <h3>Top produits</h3>
            </div>
            <div class="col-xs-4 col-xs-offset-2 text-right load-more">
                <a href="#" class="">Afficher plus..</a>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">
                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">products.name</a></h5>
                            <h6 class="store-name"><a href="#">productSeller</a></h6>
                            <h6 class="publication-date"><a href="#">publicationDate</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>productDescription</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">745454 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->


        </div><!-- row -->
        <div class="row slide-row">
            <div class="col-xs-1 slide-control left">
                <i class="material-icons">chevron_left</i>
            </div>
            <div class="col-xs-1 col-xs-offset-10 slide-control right">
                <i class="material-icons">chevron_right</i>
            </div>
        </div>
    </div>
</section><!-- main products -->
<section class="product-to-sell">
    <div class="container-fluid category">
        <div class="row category-header">
            <div class="col-xs-6">
                <h3>Top produits</h3>
            </div>
            <div class="col-xs-4 col-xs-offset-2 text-right load-more">
                <a href="#" class="">Afficher plus..</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!--
                                         row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->


        </div><!-- row -->
        <div class="row slide-row">
            <div class="col-xs-1 slide-control left">
                <i class="material-icons">chevron_left</i>
            </div>
            <div class="col-xs-1 col-xs-offset-10 slide-control right">
                <i class="material-icons">chevron_right</i>
            </div>
        </div>
    </div>
</section><!-- main products -->
<section class="product-to-sell">
    <div class="container-fluid category">
        <div class="row category-header">
            <div class="col-xs-6">
                <h3>Top produits</h3>
            </div>
            <div class="col-xs-4 col-xs-offset-2 text-right load-more">
                <a href="#" class="">Afficher plus..</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!--
                                         row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->


        </div><!-- row -->
        <div class="row slide-row">
            <div class="col-xs-1 slide-control left">
                <i class="material-icons">chevron_left</i>
            </div>
            <div class="col-xs-1 col-xs-offset-10 slide-control right">
                <i class="material-icons">chevron_right</i>
            </div>
        </div>
    </div>
</section><!-- main products -->
<section class="product-to-sell">
    <div class="container-fluid category">
        <div class="row category-header">
            <div class="col-xs-6">
                <h3>Top produits</h3>
            </div>
            <div class="col-xs-4 col-xs-offset-2 text-right load-more">
                <a href="#" class="">Afficher plus..</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!--
                                         row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper">

                <div class="product-container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <img src="../public/images/iphone_PNG5728.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5">
                            <h5 class="product-name"><a href="#">Nom du produit</a></h5>
                            <h6 class="store-name"><a href="#">Vendeur du produit</a></h6>
                            <h6 class="publication-date"><a href="#">14 Mai 2017</a></h6>
                        </div>
                    </div><!-- row -->
                    <div class="row product-description">
                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est a ipsam
                                mollitia, voluptatum natus accusamus...</p>
                        </div>
                    </div><!-- product description -->
                    <div class="row product-rating">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <i class="material-icons">star_rate</i>
                        </div>

                    </div><!-- product rating -->
                    <div class="row price-call-to-action">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-5">
                            <p class="price">1000 <em>DA</em></p>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 call-to-action">
                            <a href="#" class="btn btn-primary">Détails</a>
                        </div>
                    </div><!-- price and call to action -->
                </div><!-- product -->
            </div><!-- product wrapper -->


        </div><!-- row -->
        <div class="row slide-row">
            <div class="col-xs-1 slide-control left">
                <i class="material-icons">chevron_left</i>
            </div>
            <div class="col-xs-1 col-xs-offset-10 slide-control right">
                <i class="material-icons">chevron_right</i>
            </div>
        </div>
    </div>
</section><!-- products -->
<section id="testimonials">
    <h3 class="text-center">Ce que les gens disent de SHOPNAME</h3>
    <p class="testimonial"><i class="fa fa-quote-left" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci provident dolorum eveniet excepturi fugit autem sint ipsum architecto praesentium
        error dolore laudantium illum vero, mollitia, ab incidunt inventore, doloremque et!Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Officiis temporibus aliquid nisi aut soluta, optio eveniet mollitia similique
        molestias non incidunt dolore distinctio quas eum, officia, quasi dignissimos debitis nulla.</p>
    <div class="users row">

        <div class="col-xs-4 user ">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive img-circle">
                </div>
                <div class="col-xs-12 text-center">
                    <h6>John Doe</h6>
                </div>
            </div>
        </div><!-- user -->
        <div class="col-xs-4 user active">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive img-circle">
                </div>
                <div class="col-xs-12 text-center">
                    <h6>John Doe</h6>
                </div>
            </div>
        </div><!-- user -->
        <div class="col-xs-4 user">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../public/images/johndoe.jpg" alt="" class="img-responsive img-circle">
                </div>
                <div class="col-xs-12 text-center">
                    <h6>John Doe</h6>
                </div>
            </div>
        </div><!-- user -->
    </div><!-- users -->
</section><!-- testimonials -->
<section id="map">
    <div style="width: 100%">
        <iframe width="100%" height="400"
                src="http://www.mapi.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Usto+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <br/>
</section><!-- map -->

<footer id="footer">

</footer>








<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help