<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>S'inscrire | The big market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/signup.css">
</head>
<body>

<%- include('ejs/navbar') -%>

    <section id="intro">
        <div class="jumbotron">
            <div class="container">
               <h1 class="text-center heading">Rejoignez 1 millions de personnes...</h1>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3>Lorem ipsum dolor sit amet quis labore ducimus?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In rerum quas hic fuga, tempore est sequi magnam, obcaecati quo. Accusamus tenetur nam ea ducimus inventore voluptates maxime cum ratione, facere.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 form-container">
                        <form class="form-horizontal">
                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label sr-only">Email</label>
                            <div class="col-sm-12">
                              <input type="email" class="form-control" id="inputEmail3" placeholder="Tapez votre email...">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label sr-only">Mot de passe</label>
                            <div class="col-sm-12">
                              <input type="password" class="form-control" id="inputPassword3" placeholder="Tapez votre mot de passe">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-4 control-label sr-only">Confirmation du mot de passe</label>
                            <div class="col-sm-12">
                              <input type="password" class="form-control" id="inputPassword3" placeholder="Retapez votre mot de passe">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <div class="checkbox checkbox-input">
                                <label class="">
                                  <input type="checkbox"> En vous inscrivant, vous acceptez nos <a href="">conditions générales d'utilisation</a> et <a href="">notre politique de confidentialité.</a>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-md-3 col-sm-6 text-left">
                              <button type="submit" class="btn btn-primary signup-button">Sign Up</button>
                            </div>
                            <div class="col-md-9 col-sm-12 go-to-signinup">
                              <p>Vous avez déja un compte?<a href=""> Se connecter</a></p>
                            </div>
                          </div>
                        </form>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 text-left">
                                <button class="btn btn-primary  btn-block facebook">
                                    Se connecter avec Facebook
                                </button>
                            </div>
                            <div class="col-lg-6 col-md-12 text-left">
                                <button class="btn btn-warning btn-block google">
                                    Se connecter avec Google+
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>







    <footer id="footer">

    </footer>


    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
