*{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body{
    overflow-x: hidden;
}
.category-dropdown li a{
    font-size: 16px;
    padding: 5px 2px;
    height: 50px;
}
.category-dropdown li{
    height: 50px;
    width:200px;
}
@media (min-width: 785px){
    .category-dropdown:before{
        content:"";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -8px;
        right: 120px;

                    }
}

.category-dropdown i{
    position: relative;
    top:10px;
    padding:0 5px;
}
.icon-fix span{
    position: relative;
    top:-5px;
}
.search-icon{
    background-color:rgba(0,0,0,0.1);
    color: #fff;
    font-size: 1em;

}
.search-icon:hover{
    background-color:rgba(0,0,0,0.2);
    color: #fff;

}
.navbar-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
.navbar-form input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
.navbar-form input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
.navbar-form input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}

#main-menu{
    overflow-x: hidden;
}
.navbar-main-menu{
    padding-left: 80px;
}
#main-menu .navbar-highlight a{
    color: #ffffff;
}
.navbar{
    background-color: #009688;
    border-bottom: 5px solid #00695C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color:#00897B;
    color: #ffffff;
}
@media (max-width: 782px){
    .navbar-main-menu{
        padding-left: 0px;
    }
    .navbar-nav .navbar-form .form-group{
        padding-left: 15px;
        display: inline-block;
        width: 80%;
    }
}

.jumbotron{
    padding-top: 150px;
    margin-bottom: 0px;
    border-bottom:1px solid #d4d9dd;
}


.messaging-container{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 645px;
    overflow: hidden;
}


.message-aside{
    border-right: 1px solid rgba(0,0,0,.2);
    font-size: 1.5em;

}
.new-message-btn{
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0.8;
}
.new-message-btn:hover{
    opacity: 1;
}
.messages-header{
    padding: 10px 5px 0px;
    width: 100%;

}
.messages-headlines-container{
    margin-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 592px;
    overflow: scroll;
}
.message-headline{
    border-bottom: 0.5px solid rgba(0,0,0,.2);
    padding:5px 2px;
}
.message-headline:hover{
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;

}
.avatar-container > img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
}
.username-container{
    padding-left: 0px;
}
.username-container  a{
    color: rgba(0,0,0,0.5);
    font-size: 0.8em;
}
.message-date-container p{
    font-size: 12px;
}
.message-date-container{
    position: relative;
    top: 15px;
}
.part-of-msg p{
    font-size: 12px;
}

.messages-with-user-container{
    height: 655px;
    padding: 0px;
}
.messages-with-user-container header{
    height: 100px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
    padding: 10px 25px;
}
.messages-with-user-container header img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.messages-with-user-container header .username h4{
    font-size: 1.5em;
}
.messages-with-user-container header .availability{
    position: relative;
    top: 10px;
}
.messages-with-user-container header .availability p{
    font-size: 1em;
    font-style: italic;
}
.messages-with-user-container header .availability span{
    height: 50px;
    width: 50px;
    background-color: #4CAF50;
    border-radius: 50%;
    margin-left: 10px;
}

.messages-container{
    padding-top: 20px;
    height: 430px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.messages-with-user{
    margin-top: 5px;
}
.messages-with-user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 40px;
}
.messages-with-user .message{
    font-size: 14px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #EEEEEE;
    border-radius: 5px;

}
.messages-with-user.sent .message{

    background-color:#CFD8DC;

}
.messages-with-user .message-date{
    font-size: 12px;
    position: relative;
    top: -10px;
    color: #757575;

}
.message-footer{
    height: 110px;
    overflow: hidden;
    padding: 5px 15px 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: #FAFAFA;
}

@media (max-width: 1005px){
    .avatar-container > img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    .new-message-btn{
        font-size: 2em;
        margin-left: 10px;
    }
}







































