*{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body{
    overflow-x: hidden;
}
.category-dropdown li a{
    font-size: 16px;
    padding: 5px 2px;
    height: 50px;
}
.category-dropdown li{
    height: 50px;
    width:200px;
}
@media (min-width: 785px){
    .category-dropdown:before{
        content:"";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -8px;
        right: 120px;

                    }
}

.category-dropdown i{
    position: relative;
    top:10px;
    padding:0 5px;
}
.icon-fix span{
    position: relative;
    top:-5px;
}
.search-icon{
    background-color:rgba(0,0,0,0.1);
    color: #fff;
    font-size: 1em;

}
.search-icon:hover{
    background-color:rgba(0,0,0,0.2);
    color: #fff;

}
.navbar-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
.navbar-form input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
.navbar-form input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
.navbar-form input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}

#main-menu{
    overflow-x: hidden;
}
.navbar-main-menu{
    padding-left: 80px;
}
#main-menu .navbar-highlight a{
    color: #ffffff;
}
.navbar{
    background-color: #009688;
    border-bottom: 5px solid #00695C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color:#00897B;
    color: #ffffff;
}
@media (max-width: 782px){
    .navbar-main-menu{
        padding-left: 0px;
    }
    .navbar-nav .navbar-form .form-group{
        padding-left: 15px;
        display: inline-block;
        width: 80%;
    }
}




.jumbotron{
    padding-top: 150px;
    margin-bottom: 0px;
    border-bottom:1px solid #d4d9dd;
}
.jumbotron p{
    font-size: 3em;
}





/* asider */


.range {
  display: inline-block;
  margin: 36px 20px 20px
}

input[type=range] {
  -webkit-appearance: none;
  position: relative
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  border: none;
  border-radius: 3px;
  background-color:#00796B;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #00796B;
  margin-top: -5px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
    background: #004D40;
}

.clicked::-webkit-slider-thumb {
  -webkit-transform: scale(1.5)
}


input[type=range]:focus {
  outline: none
}



.asider .dropdown{
    margin-bottom: 20px;
}
.asider input{
    margin: 40px 0px;
}
.asider .filter-container{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}
.asider .filter-container .btn{
    line-height: 43px;
}
.asider .filter-container i{
    position: relative;
    top:10px;
    padding:0 5px;
}

.asider{
    background-color: #f9f9f9;

}
.asider h3{
    color: #666666;
    font-size: 2em;
    margin-bottom:50px;
}
.asider ul{
    list-style-type: none;
}
.asider h4{
    padding: 0px 10px;
}
.asider h4 strong{
    font-size: 14px;
    padding-left: 5px;
}
.asider h4 i{
    position: relative;
    top: 5px;
}
.asider a{
    display: block;
    font-size: 12px;
    padding: 2px 5px ;
    color:#7b8b8e;
}
.asider a:hover{
    background-color: #d4d9dd;
    text-decoration: none;
    color: black;
}
@media (max-width: 1280px){
    .asider{
        display: none;
    }
    .products-container{
        width: 100%;
    }

}
/* // asider */

#showcase{
    padding: 50px 0px;

}




.product-container:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-container .product-name{
    font-size: 18px;
    margin-bottom: 5px;
}

.product-container .product-name a{
    color: #757575;
}

.product-container .store-name,
.product-container .publication-date{
    margin: 2px 0px 3px;
    font-size: 12px;
}

.product-container .store-name a,
.product-container .publication-date a
{
    color: #b2bbbd;
}

.product-container .product-description{
    color: #757575;
    margin-top: 2px;
    font-size: 13px;
}

.product-container i{
    color: #FFD600;
}

.product-container .price{
    font-size: 16px;
    font-weight: bold;
}




.product-container{
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@media (max-width: 623px){
    .product-wrapper{
        width: 100%;
    }
}
.product-wrapper{
    margin-top: 50px;
}
/* pagination
*/
.pagination li a{
    height: 43px;
    background-color: #f9f9f9;
    color: #666666;
}

.pagination .active {
    background-color: #009688;
    color: #fff;
}

#footer{
    margin-top: 50px;
    height: 300px;
    background-color: #424242;
    color: #fff;
}








