*{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
body{
    overflow-x: hidden;
}
.category-dropdown li a{
    font-size: 16px;
    padding: 5px 2px;
    height: 50px;
}
.category-dropdown li{
    height: 50px;
    width:200px;
}
@media (min-width: 785px){
    .category-dropdown:before{
        content:"";
        border-bottom: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -8px;
        right: 120px;

                    }
}

.category-dropdown i{
    position: relative;
    top:10px;
    padding:0 5px;
}
.icon-fix span{
    position: relative;
    top:-5px;
}
.search-icon{
    background-color:rgba(0,0,0,0.1);
    color: #fff;
    font-size: 1em;

}
.search-icon:hover{
    background-color:rgba(0,0,0,0.2);
    color: #fff;

}
.navbar-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
.navbar-form input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
.navbar-form input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
.navbar-form input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}

#main-menu{
    overflow-x: hidden;
}
.navbar-main-menu{
    padding-left: 80px;
}
#main-menu .navbar-highlight a{
    color: #ffffff;
}
.navbar{
    background-color: #009688;
    border-bottom: 5px solid #00695C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color:#00897B;
    color: #ffffff;
}
@media (max-width: 782px){
    .navbar-main-menu{
        padding-left: 0px;
    }
    .navbar-nav .navbar-form .form-group{
        padding-left: 15px;
        display: inline-block;
        width: 80%;
    }
}

#shop-header{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#shop-header .shop-overlay{
   background-color: #F5F5F5;
   height: 300px;
    background-image: url(../images/diagmonds_@2X.png), linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); ;
    position: relative;

}

.shop-img-and-info{
    position: absolute;
    padding: 20px;
    width: 100%;
    top: 180px;
    z-index: 99;

}
.shop-img-and-info h5,
.shop-img-and-info h6{
    color: #fff;


}
.shop-img-container{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background: url(../images/diagmonds_@2X.png);
    background-size: cover;
    border: 5px solid #fff;
}
.is-available{
    height: 15px;
    width: 15px;
    background-color: #4CAF50;
    border-radius: 50%;
    position: relative;
    top: 15px;
}
.shop-description{
    background-color: #eee;
    padding: 10px 10px 20px 120px;

}
.contact-icons{
    position: relative;
    left: 130px;
    font-size:3em;

}
.contact-icons .icon{
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.contact-icons .icon a{
    color:#757575;
}
.contact-icons .icon a:hover{
    color: #616161;
}
.shop-vis-pop-clients{
    padding: 10px 5px;
    margin-bottom: 20px;
}
.shop-popularity{
    font-size: 1.2em;
}
.shop-popularity i {
    padding-right: 5px;
    position: relative;
    top:5px;
}
.shop-popularity .number{
    position: relative;
    bottom: 15px;
    color: #757575;
    font-style: italic;
}
.shop-contact{
    position: relative;
    top:20px;
    left: 60px;
}
.announcement-icon{
    padding-right: 5px;
    position: relative;
    top:10px;
}
.announcement{
    position: relative;
    bottom:2px;
    font-size: 1.2em;
}
.announcement a {
    color: #757575;
}
.main-products{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.product-to-sell{
    padding: 30px 50px 0px;

}
.category-header{
    margin-top: 20px;
}

.category{
    border-bottom: 1px solid #d4d9dd;
}
.category:last-child {
    border-bottom:none;
}
.product-to-sell .container-fluid h3{
    display: inline-block;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    padding: 5px 0px;
    margin: 0px 0px 50px 0px;
    font-size: 22px;
    font-style: italic;
}
.load-more a{
    padding: 10px;
    border: solid 2px #d4d9dd;
    color: #757575;
}
.product-container:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-container .product-name{
    font-size: 18px;
    margin-bottom: 5px;
}

.product-container .product-name a{
    color: #757575;
}

.product-container .store-name,
.product-container .publication-date{
    margin: 2px 0px 3px;
    font-size: 12px;
}

.product-container .store-name a,
.product-container .publication-date a
{
    color: #b2bbbd;
}

.product-container .product-description{
    color: #757575;
    margin-top: 2px;
    font-size: 13px;
}

.product-container i{
    color: #FFD600;
}

.product-container .price{
    font-size: 16px;
    font-weight: bold;
}




.product-container{
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@media (max-width: 623px){
    .product-wrapper{
        width: 100%;
    }
}

@media (max-width: 1010px){
    .slide-row{
        display: none;
    }
}
.slide-row{
    top: -250px;
    position: relative;
}
.slide-control{
    background-color: rgba(255,255,255,1);
    text-align: center;
    height: 80px;
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.slide-control:hover{
    opacity: 1;
    box-shadow: 0 5px 8px rgba(0,0,0,0.16), 0 5px 8px rgba(0,0,0,0.23);
}
.slide-control.left{
    left: -10px;
}
.slide-control.right{
    right: -10px;
}
.slide-control i{
    font-size: 4em;
    line-height: 80px;
}
@media (max-width: 1280px){
    .asider{
        display: none;
    }
    .products-container{
        width: 100%;
    }

}
#testimonials{
    padding: 30px;
    background-color: #009688;
    color: #fff;
}
#testimonials h3{
    padding: 20px 0px;

    color: #fff;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    border-bottom: 0.1px solid;
}
.testimonial{
    width: 50%;
    margin: 0 auto 50px;
    padding: 20px;
    background-color: rgba(0,0,0,0.05);
    font-size: 1.2em;

}
.testimonial i {
    font-size: 2em;
    padding-right: 10px;
    padding-bottom: 5px;
}
.users{
    width: 40%;
    margin: 0 auto 20px;
    padding: 20px;
}

.users .user h6{
    padding-top: 10px;
    color: #fff;
    cursor: pointer;
}
.users .user img{
    border:5px solid white;
    cursor: pointer;
    opacity: 0.8;
}
.users .user img:hover,
.users .user.active img{
    opacity: 1;
    transform: scale(1.2);
}
#map{
    height: 400px;
}
#footer{
    height: 300px;
    background-color: #424242;
    color: #fff;
}

















